header {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

p {
    color: white;
    font-size: 20px;
    margin: auto;
}

h1 {
    color: white;
    font-size: 50px;
    margin: auto;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.button {
    background-color: black;
    display: flex;
    height: 100%;
    width: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
}

.posts {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.post {
    width: 800px;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    margin: 10px    ;
    border-radius: 12px;
}

.post-title {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 237, 201, 0.87);
    width: 100%;
    border-radius: 12px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Monospace, "monaco";
}

.post-text {
    color: black;
    font-family: Monospace, "monaco";
    margin: auto;
    background-color: rgba(160, 160, 160, 0.39);
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 12px;
}

.post-comments {
    color: black;
    font-family: Monospace, "monaco";
    margin: auto;
    background-color: rgba(160, 160, 160, 0.39);
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 12px;
}

.comment-wrapper {
    display: inline-block;
}
.comment-author {
    display: inline-block;

}
.comment-text {
    display: inline-block;

}
.comment-date {
    display: inline-block;

}